.tab {
	max-width: 700px;
	&-panel {
		display: flex;
		width: 100%;
		min-height: 50px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
		border-radius: 4px 4px 0 0;
	}
	&-item {
		font-size: 18px;
		line-height: 27px;
		padding: 10px 20px;
		border-right: 1px solid rgba(0, 0, 0, 0.2);
		cursor: pointer;
		box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
		&:last-child {
			border-right: none;
		}
		&--active {
			background-color: rgba(0, 0, 0, 0.1);
			box-shadow: none;
		}
	}
	&-content{
		display: none;
		padding: 20px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-top: none;
		border-radius: 0 0 4px 4px;
		&--active {
			display: block;
		}
	}
}
